.places__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    margin: 0 0 24px 0;
}

.places__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
} 

@media screen and (max-width: 320px) {
    .places__paragraph {
        max-width: 288px;
        margin: 0 auto 24px;
    }
    .places__paragraph:last-of-type {
        margin: 0 auto;
    }
} 