@import url(./__lists/places__lists.css);
@import url(./__link/places__link.css);
@import url(./__list/places__list.css);
@import url(./__image/places__image.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__title/places__title.css);
@import url(./__url/places__url.css);
@import url(./__container/places__container.css);

.places {
    padding: 92px 0 0;
}

@media screen and (max-width: 768px) {
    .places {
        padding-top: 88px;
    }
} 

@media screen and (max-width: 320px) {
    .places {
        padding-top: 64px;
    }
} 