.lead__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 64px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__container {
        margin-top: 56px;
        max-width: 928px;
    }
}

@media screen and (max-width: 320px) {
    .lead__container {
        margin-top: 40px 0 0;
        max-width: 320px;
    }
}
